html {
  font-family: 'Libre Baskerville', serif;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: auto;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 1080px) {
  .container {
    margin: 0 auto;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.header {
  height: 60px;
  background: black;
  top: 0px;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  height: 70px;
  transition: 0.5s;
}

.nav_list {
  display: flex;
  flex-direction: row;
}

.nav_item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 170px;
  border-radius: 35px;
  color: white;
  margin-left: 5px;
  margin-right: 8px;
  margin-top: 2px;
  transition: 0.5s;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav_item:hover {
  background: darkred;
  transform: scale(1.1);
  transition: 0.3s;
  color: black;
}

.menu-toggle {
  width: 60px;
  height: 60px;
  display: flex;
  background: none;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}

.toggle {
  background: #fff;
  display: block;
  height: 8px;
  width: 40px;
  margin: 2px;
}

@media (min-width: 1080px) {
  .menu-toggle {
    display: none;
  }
}

@media (max-width: 1080px) {
  .menu {
    transition: 0.5s;
    position: absolute;
    top: 0;
    left: -500px;
    width: 500px;
    background: black;
    margin: 0;
    height: 100vh;
    justify-content: center;
  }
  .menu .nav_list {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
  }
  .menu .nav_list .nav_list_items {
    text-align: left;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .menu .nav_list .nav_list_items .nav_item {
    height: 90px;
    width: 400px;
    font-weight: 500px;
    margin-right: 0;
    margin-left: 0;
    font-size: 30px;
  }
  .menu-toggle {
    z-index: 99;
  }
  .menu.show {
    transform: translate(100%);
  }
}

@media (max-width: 1080px) {
  .nav_item {
    height: 30px;
    width: 150px;
    font-weight: 500px;
    margin-right: 6px;
    margin-left: 3px;
    font-size: 15px;
  }
}

.section-1 {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.parallax {
  /* The image used */
  background-image: url("../images/black-and-white-black-and-white-depth-of-field-785429 (1).jpg");
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  perspective: 5px;
  z-index: -1;
  transform-style: preserve-3d;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateZ(-1px) scale(1);
  width: 100%;
  margin: auto;
  height: 100%;
}

.info {
  position: absolute;
  margin-left: 50px;
  height: 130px;
  width: 800px;
  border: 3px solid darkred;
  position: absolute;
  padding: 10px;
  z-index: 0;
  transition: 0.5s;
}

.info:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

.name {
  letter-spacing: 10px;
  display: block;
  color: white;
  font-size: 40px;
}

.text {
  letter-spacing: 2px;
  color: dimgrey;
  font-size: 20px;
}

.section-2 {
  background-color: transparent;
  background: #E5E5E5;
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  margin: 0;
}

@media (max-width: 1080px) {
  .info {
    height: 100px;
    width: 400px;
    border: 1px solid darkred;
    padding: 5px;
    margin-left: 20px;
  }
  .info:hover {
    transform: none;
  }
  .name {
    font-size: 20px;
  }
  .text {
    font-size: 10px;
  }
}

.photo1 {
  width: 50%;
  height: 750px;
  background-size: cover;
  background-image: url("../images/FIlip MAJEWSKi.png");
}

.aboutme {
  text-align: center;
  width: 50%;
  background: #E5E5E5;
}

.aboutme_title {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 20px;
  color: darkred;
}

.aboutme_text {
  font-size: 25px;
  margin-right: 20px;
  margin-left: 20px;
}

@media (max-width: 1080px) {
  .about {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .photo1 {
    height: 500px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .aboutme {
    height: 35%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.section-3 {
  background-size: cover;
  height: auto;
}

.parallax2 {
  /* The image used */
  background-image: url("../images/black-abstract-4k-background_1.jpg");
  /* Set a specific height */
  min-height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects_title {
  color: white;
  text-align: center;
  font-size: 35px;
  padding: 1px;
}

.gallery img {
  transition: 0.5s;
  width: 280px;
  height: 430px;
  margin-bottom: 30px;
  display: block;
  position: relative;
  transition: 1s;
  margin-left: 20px;
  margin-right: 20px;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 0 5px #fff;
}

.gallery {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 1080px) {
  .gallery img {
    width: 200px;
    height: 350px;
  }
}

.section-4 {
  height: auto;
  background: whitesmoke;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > h1 {
  color: darkred;
  letter-spacing: 2px;
  text-align: center;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.icons {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  transition: 0.5s;
}

img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.html img {
  width: 250px;
  height: 250px;
}

.css img {
  width: 250px;
  height: 250px;
}

.js img {
  width: 250px;
  height: 250px;
}

.sass img {
  width: 250px;
  height: 250px;
}

.react img {
  width: 250px;
  height: 250px;
}

.jquery img {
  width: 250px;
  height: 250px;
}

.git img {
  width: 250px;
  height: 250px;
}

@media (max-width: 1080px) {
  .html img {
    width: 180px;
    height: 180px;
  }
  .css img {
    width: 180px;
    height: 180px;
  }
  .js img {
    width: 180px;
    height: 180px;
  }
  .sass img {
    width: 180px;
    height: 180px;
  }
  .react img {
    width: 180px;
    height: 180px;
  }
  .jquery img {
    width: 180px;
    height: 180px;
  }
  .git img {
    width: 180px;
    height: 180px;
  }
}

.contact {
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
}

input[type=text], select, textarea {
  width: 500px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}

@media (max-width: 1080px) {
  input[type=text], select, textarea {
    width: 350px;
  }
}

input {
  background: darkgray;
}

textarea {
  background: darkgray;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: darkred;
}

.mailus {
  border-radius: 5px;
  background-color: midnightblue;
  background-color: transparent;
  padding: 20px;
  margin-left: 30px;
}

.footer_info {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-right: 30px;
  padding: 10px;
}

.footer_info > h1 {
  margin-bottom: 30px;
  font-weight: 700;
}

.footer_info > p {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
}

.fl-fl {
  background: darkred;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -150px;
  z-index: 1000;
  font: normal normal 10px Arial;
  transition: all .25s ease;
}

.fa {
  font-size: 40px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 12px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
  font-weight: 700;
}

.float-fb {
  top: 100px;
}

.float-ld {
  top: 155px;
}

.float-gt {
  top: 210px;
}

/*# sourceMappingURL=main.css.map */
